<% provide :title, t("home") %>

<div class="text-center p-5 bg-secondary text-white rounded">
  <h1><%= t "page_title" %></h1>
  <p><%= t ".text" %></p>
  <%= link_to t(".sign_up"), '#', class: "btn btn-lg btn-primary" %>
</div>
