<% flash.each do |message_type, message| %>
  <% alert_type = alert_type_for_flash(message_type) %>
  <div class="alert alert-<%= alert_type %> alert-dismissible fade show">
    <span><%= message %></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
