<% provide :title, t("admin.title.show", name: t("genres._name")) %>
<% populate_genre(@genre) => {name:, description:}%>
<div class="col-12">
  <%= render "admin/shared/back_button", path: admin_genres_path %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-8">
          <div class="d-flex justify-content-between">
            <h3><%= name %></h3>
            <div>
              <%#= render "status_button", user: @user, flip: false %>
            </div>
          </div>
          <span><%= description %></span>
          <div class="mt-4 py-2">
            <%= render_genres_tabs %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
