<% provide :title, t("home") %>

<div class="container mt-4 p-5 bg-secondary text-white text-center rounded">
  <h1><%= t "welcome_text" %></h1>
  <p><%= t "home_text" %></p>
  <%= link_to t("sign_up_now"), '#', class: "btn btn-lg btn-primary" %>
</div>
