/*
 *= require vendors/mdi/css/materialdesignicons.min.css
 *= require vendors/css/vendor.bundle.base.css
 *= require vendors/flag-icon-css/css/flag-icon.min.css
 *= require vendors/jquery-toast-plugin/jquery.toast.min.css
 *= require select2
 *= require css/style.css
 *= require_self
 */

.form-control:focus {
  color: #ff0;
}

.btn:focus {
  border-color: unset;
  border-width: 2px;
}

.jq-toast-single {
  font-size: 0.875rem;
}
