/*
 *= require select2
 *= require vendors/mdi/css/materialdesignicons.min.css
 *= require vendors/css/vendor.bundle.base.css
 *= require vendors/flag-icon-css/css/flag-icon.min.css
 *= require vendors/jquery-toast-plugin/jquery.toast.min.css
 *= require vendors/owl-carousel-2/owl.carousel.min.css
 *= require vendors/owl-carousel-2/owl.theme.default.min.css
 *= require css/style.css
 *= require_self
 */

.form-control:focus {
  color: #ff0;
}

.btn:focus {
  border-color: unset;
  border-width: 2px;
}

.jq-toast-single {
  font-size: 0.875rem;
}

label:has(~ :required):after {
  content: ' *';
  color: red;
  font-weight: bold;
}
