<% local_assigns.with_defaults(menu_class: "", title: nil) => {
  id:, menu_class:, title:,
} %>
<% id = "#{id}-dropdown" %>
<div class="dropdown-menu preview-list <%= menu_class %>"
     aria-labelledby="<%= id %>">
  <% if title %>
    <h6 class="p-3 mb-0 fw-bold"><%= title %></h6>
  <% end %>
  <%= yield %>
</div>
