<% local_assigns.with_defaults(link_data: {}, icon: nil, title: nil, icon_type: "mdi") => {
  link:, link_data:, icon:, title:, icon_type:
} %>
<div class="dropdown-divider"></div>
<%= link_to link, class: "dropdown-item preview-item my-1 align-items-baseline", data: link_data do %>
  <div class="preview-icon bg-dark rounded-circle">
    <%= tag.i class: "#{icon_type} #{icon_type}-#{icon}" %>
  </div>
  <p class="preview-subject text-truncate mb-1 ms-3"><%= title %></p>
<% end %>
