<li class="nav-item menu-items">
  <%= link_to link, class: "nav-link", target: ("_blank" if defined?(new_tab) && new_tab) do %>
    <span class="menu-icon">
      <i class="mdi mdi-<%= icon %>"></i>
    </span>
    <span class="menu-title"><%= title %></span>
  <% end %>
</li>
