<% id = "sidebar-profile" %>
<div class="profile-desc">
  <%= render "admin/shared/profile", avatar_size: "sm", username_class: "fs-6" %>
  <%= render "dropdown_button", id: do %>
    <i class="mdi mdi-dots-vertical"></i>
  <% end %>
</div>
