@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'toastr';
@import 'custom';
@import "actiontext.css";

body.mailer p {
  margin-left: 10px;
}
body.mailer {
  padding: 20px;
}

body.mailer .ms-25 {
  margin-left: 25%;
}
