* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.dropdown-menu a {
  @extend .dropdown-item !optional;
}

/* Navbar */

.navbar-nav > li > a:hover {
  color: blue;
}

/* Error explaination display */

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  .form-control {
    border-color: red;
    color: red;
  }
}

/* Auth form */

.auth-form {
  width: 50%;
}
