* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.languages a {
  @extend .dropdown-item !optional;
}

/* Error display */

.field_with_errors {
  .form-control {
    @extend .is-invalid !optional;
  }
}

label.required:after{
  content:" *";
  color: red;
}

/* Auth form */

.auth-form {
  width: 50%;
}

/* Dropdown menu for notification */

.notifications {
  width: 500px;
  max-height: 420px;
}

/* Star rating for form */

.star-rating {
	white-space: nowrap;
  margin: 0;
	padding: 0;
  color: gray;
}

.star-rating [type="radio"] {
	appearance: none;
}

.star-rating i {
	font-size: 1.2em;
	transition: 0.3s;
}

.star-rating label:is(:hover, :has(~ :hover)) i {
	transform: scale(1.35);
	color: #fffb94;
	animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
  cursor: pointer;
}

.star-rating label:has(~ :checked) i {
	color: #faec1b;
	text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
}

@keyframes jump {
	0%,
	50% {
		transform: translatey(0) scale(1.35);
	}
	100% {
		transform: translatey(-15%) scale(1.35);
	}
}

/* Star rating for showing view */

.bg-star-color {
  background-color: #faec1b;
}

.star-show {
  color: #faec1b;
	text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
}

.rating {
  width: 120px;
  height: 24px;
  position: relative;
  background-color: gray;
}

.rating progress.rating-bg {
  -webkit-appearance: none;
  -moz-appearence: none;
  appearance: none;
  border: none;
  display: inline-block;
  height: 24px;
  width: 100%;
  color: #faec1b;
}

.rating progress.rating-bg::-webkit-progress-value {
  background-color: #faec1b;
}

.rating progress.rating-bg::-moz-progress-bar {
  background-color: #faec1b;
}

.rating svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Home book carousel */

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
transform: translateX(0);
}
