* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.dropdown-menu a {
  @extend .dropdown-item !optional;
}

/* Error explaination display */

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  .form-control {
    @extend .is-invalid !optional;
  }
}

label.required:after{
  content:" *";
  color: red;
}

/* Auth form */

.auth-form {
  width: 50%;
}

/* Custom card height */

.card-custom-height {
  min-height: 26rem;
}
