<% if btn = get_status_button(user) %>
  <%= link_to btn[:link],
              id: dom_id(user, :status),
              data: {
                turbo_method: :post,
                turbo_confirm: btn[:confirm_text]
              }.merge(btn[:data] || {}),
              class: "btn btn-flip btn-outline-#{btn[:color]}" do %>
    <span><%= btn[:do_text] %></span>
    <span><%= btn[:status_text] %></span>
  <% end %>
<% end %>
