<span class="badge badge-<%= get_borrow_status_color borrow %> borrow-status-badge"
      id="status_<%= dom_id borrow %>">
  <% status = borrow.pending? ? borrow.type : borrow.status %>
  <%= t "borrows.#{status}" %>
</span>
