<% local_assigns.with_defaults(
  destroy_remote: true, destroy_confirm: nil, row: false
) => {
  destroy_confirm:, destroy_remote:, row:, item:, name:,
} %>
<div class="d-flex flex-<%= row ? :row : :column %> justify-content-end <%= 'min-w-12' if row %>">
  <%= link_to t(".update"), url_for(action: :edit, id: item.id),
                         class: "btn btn-outline-warning btn-form" %>
  <%= link_to t(".delete"), url_for(action: :destroy, id: item.id),
                            class: "btn btn-outline-danger btn-form #{'ms-auto' if row}",
                            data: {
                              turbo_method: :delete,
                              turbo_confirm: destroy_confirm || t(".delete_confirm", name: t("#{name}s._item"))
                            } if !item.respond_to?(:is_active) || item.is_active %>
</div>
