<% local_assigns.with_defaults(
  update_text: t(".update"), destroy_text: t(".delete"),
  update_color: :warning, destroy_color: :danger,
  destroy_remote: true, destroy_confirm: nil
) => {
      update_text:, destroy_text:, update_color:, destroy_color:,
      item:, destroy_confirm:, destroy_remote:, name:
} %>
<div class="d-flex flex-column">
  <%= link_to update_text, url_for(action: :edit, id: item.id),
                         class: "btn btn-outline-#{update_color} btn-form" %>
  <%= link_to destroy_text, url_for(action: :destroy, id: item.id),
                              class: "btn btn-outline-#{destroy_color} btn-form",
                              data: {
                                  turbo_method: :delete,
                                  turbo_confirm: destroy_confirm || t(".delete_confirm", name:)
                              } %>
</div>
