<div class="d-flex justify-content-between mx-1 my-2 info-field">
  <span class="me-4 text-nowrap text-muted info-header"><%= name %></span>
  <span class="text-end">
    <% if defined? value  %>
      <%= value %>
    <% else %>
      <%= yield %>
    <% end %>
  </span>
</div>
