<div id="application-notify">
  <script>
    <% flash.each do |type, message| %>
      window.showToast({
        icon: '<%= type %>',
        text: '<%= raw message %>'
      });
    <% end %>
  </script>
</div>
