<div id="application-notify">
  <input type="text" class="d-none" value="1">
  <script defer>
    <% flash.each do |type, message| %>
      window.showToast({
        icon: '<%= type %>',
        text: '<%= raw message %>'
      });
    <% end %>
  </script>
</div>
