<div id="application-notify">
  <script defer>
    window.addEventListener('load', function() {
      <% flash.each do |type, message| %>
        window.showToast({
          icon: '<%= type %>',
          text: '<%= raw message %>'
        });
      <% end %>
    })
  </script>
</div>
