<% local_assigns.with_defaults(user: @current_account, username_class: "", avatar_size: "xs", link: nil) => {
  user:, username_class:, avatar_size:, link:
} %>
<div class="profile-wrapper">
  <div class="profile-avatar">
    <%= image_tag get_avatar(user), class: "img-#{avatar_size} rounded-circle" %>
  </div>
  <p class="profile-name mb-0 <%= username_class %>">
    <%= link_to_unless link.nil?, user.username, link%>
  </p>
</div>
